

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    Clinicas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAlert()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>

  
    </ion-buttons>
  
  
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let clinica of clinicas; let index = i">
      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ clinica.id }}</ion-card-subtitle>
            <ion-card-title>{{ clinica.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           <p>Direcion:{{clinica.direccion  }}</p>
           <p>telefono:{{ clinica.telefono }}</p>
           
<p>correo:{{ clinica.correo }}</p>

          </ion-card-content>
        </ion-card>
        
        <ion-checkbox [checked]="clinica.completed" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteClinicas(clinica.id, index)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>

        <ion-item-option (click)="updateClinicas()" color="success">
          <ion-icon name="arrow-up-circle-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options> 
    </ion-item-sliding>
  </ion-list>
</ion-content>
