<ion-header>
  <ion-toolbar>
    <ion-title>casos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card *ngFor="let caso of casos">
  <ion-card-header>
    <ion-card-subtitle>{{ caso.id }}</ion-card-subtitle>
    <ion-card-title>{{ caso.nombre }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
 <p>Fecha:{{ caso.fecha }}</p>
 <p>Descripcion:{{ caso.descripcion }}</p>
<p>Estado:{{ caso.c_estado_id }}</p>
<p> Profesional:{{ caso.c_profesional_id }}</p>
<p> Usuario:{{ caso.t_usuario_id }}</p>
  </ion-card-content>
</ion-card>


</ion-content>
