<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Tareas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAlert()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>

  
    </ion-buttons>
  
  
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let estado of estados; let index = i">
      <ion-item>
        <ion-label>Nombre: {{ estado.nombre }}</ion-label>
        <ion-label>Descripcion: {{ estado.descripcion }}</ion-label>
        
        <ion-checkbox [checked]="estado.completed" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteEstado(estado.id, index)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>

        <ion-item-option (click)="updateEstado()" color="success">
          <ion-icon name="arrow-up-circle-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options> 
    </ion-item-sliding>
  </ion-list>
</ion-content>